# Python
*.pyc
*.pyo
*.pyd
*__pycache__/
*.venv/

# Django
staticfiles/
media/

# Docker
*.log
*.pid
*.seed
*.pid.lock

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
Thumbs.db
.idea/
.vscode/
